
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Marshaller Parser</h1>
  <p class="lead">Parse your XML file easily.</p>
</div>
<div class="container">
  JAXB simplifies access to an XML document from a Java program by presenting the XML document to the program in a Java format. The first step in this process is to bind the schema for the XML document into a set of Java classes that represents the schema.
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Parse XML file</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ text</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Binding a schema means generating a set of Java classes that represents the schema.</li>
          <li>All JAXB implementations provide a tool called a binding compiler to bind a schema</li>
          <li>(the way the binding compiler is invoked can be implementation-specific)</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go to parser</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Convert to XML</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ text</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>  Unmarshalling an XML document means creating a tree of content objects that represents the content and organization of the document. The content tree is not a DOM-based tree. In fact, content trees produced through JAXB can be more efficient in terms of memory use than DOM-based trees.</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Go to converter</button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
  </footer>
</div>
