<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <img src="https://vignette.wikia.nocookie.net/inanimateinsanity/images/c/c0/Sweet_Marshmallo.png/revision/latest?cb=20160116175048" style="width:48px;height:48px;">

  <h4 class="my-0 mr-md-auto font-weight-normal">Marshaller</h4>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Home</a>
    <a class="p-2 text-dark" routerLink="/parser">XML Parser</a>
    <a class="p-2 text-dark" routerLink="/converter">XML Converter</a>
  </nav>
</div>
