<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>
<p>
  xml-converter works!
</p>
<div class="container">
  <a href="#" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-edit"></span> Convert
  </a>
  <a href="#" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-save"></span> Download
  </a>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
  <textarea name="nazwa" cols="50px" rows="15px">Tu wpisz tekst który pojawi się domyślnie</textarea>
    </div>
    <i style="font-size:24px" class="fa">&#xf021;</i>

    <div class="card mb-4 box-shadow">
      <textarea name="nazwa" cols="50px" rows="15px">Tu wpisz tekst który pojawi się domyślnie</textarea>
  </div>
</div>
</div>
</body>
